.wd-margin-top-one {
margin-top:-10px;
}

.wd-second-container {
   margin-top:-10px;
   left:47%;
   background-color: transparent;
   outline:none;
   border :none;
 }
 .wd-gear {
   color:#24a0ed;
   border :none;
   margin : none;
   outline :none;
  }
 .wd-gear-class {
   position: absolute;
   left:100%;
   top:8%;
   color:blue;
   /*left:680%;
   top: -53px;*/
   background-color: transparent;
   cursor:pointer;
   overflow: hidden;
   outline:none;
   border :none;
 }
.wd-handle-one{
margin-top:-13px;}

.wd-extra{
display :flex;
background-color:transparent;}

.wd-a{
margin-left:30px;
}
.wd-b{
margin-left:5px;
}

.wd-over{
color:grey;
margin-left:45%;
margin-top:28%;
}

.wd-fName{
background-color: black;
color: white;
border: 1px solid grey;
}
.form-control {
background-color: black;
color: white;
border: 1px solid grey;
}
.wd-color{
color: #2a9fd6
}
.wd-make{
margin-left:1px;}