.wd-margin-top-one {
margin-top:-10px;
}
.wd-fifth-container{
padding-top:2%;
margin-bottom:1%;
padding-left:8%;
width:100%;
display :flex;
justify-content: space-between;
background-color:transparent;
}
.wd-content-title {
  position:relative;
  width:96%;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius:0px 0px 30px 30px;
  margin-left:12%;
}
hr{
width:20%;
color:black;
}
.wd-attachments{
padding-left:50px;
}
.wd-border-curved {
border:rgb(5, 15, 25);
border-radius:10px 10px 0px 0px;
}
.wd-user{
margin-left:2px}

.wd-cross{
color:grey;
margin-left:px;


}



