.wd-margin-top-one {
margin-top:-10px;
}

.wd-second-container {
   margin-top:-10px;
   left:47%;
   background-color: transparent;
   outline:none;
   border :none;
 }
 .wd-gear {
   color:#24a0ed;
   border :none;
   margin : none;
   outline :none;
  }
 .wd-gear-class {
   position: absolute;
   left:100%;
   top:8%;
   color:blue;
   /*left:680%;
   top: -53px;*/
   background-color: transparent;
   cursor:pointer;
   overflow: hidden;
   outline:none;
   border :none;
 }